* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family:
		-apple-system,
		BlinkMacSystemFont,
		Segoe UI, Roboto,
		Oxygen, Ubuntu,
		Cantarell, Fira
		Sans, Droid Sans,
		Helvetica Neue,
		sans-serif;
	color: #333;
}

.wrapper {
	width: 87.5%;
	margin-right: auto;
	margin-left: auto;
}

[hidden] {
	display: none;
}

.clearfix::after {
	content: '';
	display: table;
	clear: both;
}

[class*='icon-'] {
	display: inline-block;
  	width: 1em;
	height: 1em;
	fill: currentColor;
}

header {
	height: 75px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .logo {
	width: 96px;
	height: 50px;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	background-size: contain;
	font-size: 0;
}

header a[href*='tel:'] {
	font-size: 15px;
	line-height: 1;
	color: #e91e91;
	text-decoration: none;
}

button.menu {
	padding: 0;
	border: 0;
    background-color: transparent;
}

.icon-hamburger {
  color: #918f8f;
  font-size: 15px;
}

section.preview {
	padding-top: 100px;
	padding-bottom: 30px;
	color: #fff;
	text-align: center;
	background-image: url(../images/preview.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 100%;
	position: relative;
}

section.preview::after {
	content: '';
	width: 100%;
	height: 100%;
	background-color: rgba(51, 5, 34, .4);
	position: absolute;
	top: 0;
	left: 0;
}

section.preview > * {
	position: relative;
	z-index: 1;
}

h1 {
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 32px;
	line-height: 1.3;
	font-weight: normal;
    font-family: Georgia;
}

h1 + p {
	font-size: 16px;
	line-height: 1.5;
	margin-top: 0;
	margin-bottom: 10px;
}

section.preview p {
	margin-bottom: 30px;
}

section.preview button {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #8c1057;
	border: 0;
	padding: 0;
}

section.preview button:not(:last-of-type) {
	margin-right: 15px;
}

section.preview button:active {
	background-color: rgb(228, 58, 157);
}

section.preview svg {
  color: #fff;
  font-size: 33px;
}

div[class*='modal-'] {
	width: 100%;
	height: 100%;
	background-color: #000;
	position: fixed;
	top: 0;
	z-index: 1;
	transform: scale(0);
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
}

div[class*='modal-'].open {
	transform: initial;
}

div[class*='modal-'] .close {
	width: 25px;
	height: 25px;
	border: 0;
	padding: 0;
	background-color: #000;
	position: absolute;
	top: 50px;
	right: 20px;
	z-index: 2;
	font-size: 15px;
	color: #b3b3b3;
}

iframe {
	border: 0;
}

div[class*='modal-'] .owl-carousel {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.resume-tabs .buttons {
	background-color: rgb(181, 26, 125);
	background-image: linear-gradient(90deg, rgb(181, 26, 125) 0%, rgb(228, 58, 157) 100%);
	color: #fff;
}

.resume-tabs label {
	display: block;
	float: left;
	width: 33.33%;
	text-align: center;
	font-size: 14px;
	line-height: 1;
	padding: 20px 15px;
	position: relative;
}

.resume-tabs label:not(:last-of-type) {
	border-right: 1px solid rgba(255, 255, 255, .2);
}

.resume-tabs label svg {
	font-size: 40px;
	margin-bottom: 5px;
}

.resume-tabs .content {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #ededed;
}

.resume-tabs .content p {
	display: none;
	font-size: 16px;
	line-height: 1.5;
}

.resume-tabs .content a {
	color: #368fbe;
}

#masseuses:checked ~ .content .masseuses,
#bar:checked ~ .content .bar,
#interior:checked ~ .content .interior {
	display: block;
}

#masseuses:checked ~ .buttons label[for='masseuses']::after,
#bar:checked ~ .buttons label[for='bar']::after,
#interior:checked ~ .buttons label[for='interior']::after {
	content: '';
	width: 7px;
	height: 7px;
	background-color: #ededed;
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translate(-50%, 50%) rotate(45deg);
}

h1:not(.main) {
	font-family: Georgia;
	font-size: 28px;
	line-height: 1;
}

.services {
	padding-top: 30px;
}

.services a {
	text-decoration: none;
	display: block;
	height: 78.125vw;
	padding-top: 62.5vw;
	position: relative;
	overflow: hidden;
}

.services a::after {
	content: '';
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to top, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
	position: absolute;
	top: 0;
	left: 0;
}

.services a img {
	min-width: 100%;
	height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.services a span {
	font-size: 18px;
	line-height: 1.3;
	color: #fff;
	display: block;
	position: relative;
	z-index: 1;
}