* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family:
		-apple-system,
		BlinkMacSystemFont,
		Segoe UI, Roboto,
		Oxygen, Ubuntu,
		Cantarell, Fira
		Sans, Droid Sans,
		Helvetica Neue,
		sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #333;
	position: relative;
}

button {
	font-family: inherit;
	padding: 0;
	border: 0;
}

.wrapper {
	width: 87.5%;
	margin-right: auto;
	margin-left: auto;
}

[hidden] {
	display: none;
}

.clearfix::after {
	content: '';
	display: table;
	clear: both;
}

[class*='icon-'] {
	display: inline-block;
  	width: 1em;
	height: 1em;
	fill: currentColor;
}

header {
	width: 100vw;
	height: 75px;
	padding-left: 6.25vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .logo {
	width: 96px;
	height: 50px;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	background-size: contain;
	font-size: 0;
}

header a[href*='tel:'] {
	font-size: 15px;
	line-height: 1;
	color: #e91e91;
	text-decoration: none;
}

button.menu {
	width: 75px;
	height: 100%;
    background-color: transparent;
}

ul.menu,
ul.submenu {
	width: 100vw;
	height: calc(100vh - 75px);
	overflow-y: auto;
	margin: 0;
	padding-left: 0;
	padding-bottom: 15px;
	list-style: none;
	position: fixed;
	top: 75px;
	left: 0;
	z-index: 2;
	transform: translateX(100%);
	font-size: 18px;
	line-height: 48px;
	background-color: #fff;
	transition-duration: .35s;
	transition-property: transform;
	transition-timing-function: ease-in-out;
}

body.menu {
	position: fixed;
	overflow: hidden;
}

body.menu ul.menu,
.submenu.open {
	transform: initial;
}

ul.menu li {
	border-top: 1px solid #ebebeb;
}

ul.menu li:not(.language) > *:first-child,
ul.menu .language,
ul.menu > li:last-of-type {
	padding-right: 6.25vw;
	padding-left: 6.25vw;
}

ul.menu a {
	width: 100%;
	color: inherit;
	text-decoration: none;
}

ul.menu li:not(.language) a {
	display: block;
}

ul.menu li:not(:last-of-type) button {
	width: 100%;
	background-color: transparent;
	font-size: inherit;
	line-height: 48px;
	text-align: left;
	position: relative;
}

ul.menu li:not(:last-of-type) button svg {
	font-size: 10px;
	position: absolute;
	top: 50%;
	right: 6.25vw;
	transform: translateY(-50%);
}

ul.menu .language a:first-of-type::after {
	content: ' | ';
	color: #ebebeb;
	font-weight: 100;
}

ul.menu .language a:not([href]) {
	color: #d81f8b;
}

ul.menu > li:last-of-type {
	padding-top: 15px;
}

ul.menu li:last-of-type button {
	line-height: inherit;
}

.icon-hamburger {
  color: #918f8f;
  font-size: 15px;
}

section.preview {
	padding-top: 100px;
	padding-bottom: 30px;
	color: #fff;
	text-align: center;
	background-image: url(../images/preview.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 100%;
	position: relative;
}

section.preview::after {
	content: '';
	width: 100%;
	height: 100%;
	background-color: rgba(51, 5, 34, .4);
	position: absolute;
	top: 0;
	left: 0;
}

section.preview > * {
	position: relative;
	z-index: 1;
}

h1,
h2 {
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 32px;
	line-height: 1.3;
	font-weight: normal;
    font-family: Georgia;
}

h1 + p,
h2 + p {
	margin-top: 0;
	margin-bottom: 10px;
}

section.preview p {
	margin-bottom: 30px;
}

section.preview button {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #8c1057;
}

section.preview button:not(:last-of-type) {
	margin-right: 15px;
}

section.preview button:active {
	background-color: rgb(228, 58, 157);
}

section.preview svg {
  color: #fff;
  font-size: 33px;
}

div[class*='modal-'] {
	width: 100%;
	height: 100%;
	background-color: #000;
	position: fixed;
	top: 0;
	z-index: 1;
	transform: scale(0);
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
}

div[class*='modal-'].open {
	transform: initial;
}

div[class*='modal-'] .close {
	width: 25px;
	height: 25px;
	border: 0;
	padding: 0;
	background-color: #000;
	position: absolute;
	top: 50px;
	right: 20px;
	z-index: 2;
	font-size: 15px;
	color: #b3b3b3;
}

iframe {
	border: 0;
}

div[class*='modal-'] .owl-carousel {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.resume-tabs .buttons {
	background-color: rgb(181, 26, 125);
	background-image: linear-gradient(90deg, rgb(181, 26, 125) 0%, rgb(228, 58, 157) 100%);
	color: #fff;
}

.resume-tabs label {
	display: block;
	float: left;
	width: 33.33%;
	text-align: center;
	font-size: 14px;
	line-height: 1;
	padding: 20px 15px;
	position: relative;
}

.resume-tabs label:not(:last-of-type) {
	border-right: 1px solid rgba(255, 255, 255, .2);
}

.resume-tabs label svg {
	font-size: 40px;
	margin-bottom: 5px;
}

.resume-tabs .content {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #ededed;
}

.resume-tabs .content p {
	display: none;
}

.resume-tabs .content a {
	color: #368fbe;
}

#masseuses:checked ~ .content .masseuses,
#bar:checked ~ .content .bar,
#interior:checked ~ .content .interior {
	display: block;
}

#masseuses:checked ~ .buttons label[for='masseuses']::after,
#bar:checked ~ .buttons label[for='bar']::after,
#interior:checked ~ .buttons label[for='interior']::after {
	content: '';
	width: 7px;
	height: 7px;
	background-color: #ededed;
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translate(-50%, 50%) rotate(45deg);
}

h2 {
	font-family: Georgia;
	font-size: 28px;
	line-height: 1;
}

section:nth-of-type(n+2) {
	padding-top: 30px;
}

.services a {
	text-decoration: none;
	display: block;
	height: 78.125vw;
	padding-top: 62.5vw;
	position: relative;
	overflow: hidden;
}

.fade::after {
	content: '';
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to top, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
	position: absolute;
	top: 0;
	left: 0;
}

.services a img {
	min-width: 100%;
	height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.services a span {
	font-size: 18px;
	line-height: 1.3;
	font-weight: 500;
	color: #fff;
	display: block;
	position: relative;
	z-index: 1;
}

.choose {
	padding-bottom: 20px;
}

.choose form {
	margin-bottom: 20px;
}

label.switch {
	display: block;
	position: relative;
	padding-bottom: 60px;
	margin-bottom: 5px;
}

label.switch::before {
	content: '';
	width: 100%;
	height: 48px;
	background-color: rgb(237, 237, 237);
	border-radius: 26px;
	border: 2px solid rgb(222, 222, 222);
	position: absolute;
	bottom: 0;
}

label.switch::after {
	content: '';
	width: 50%;
  	height: 45px;
  	border-radius: 26px;
  	background-color: rgb(255, 255, 255);
  	box-shadow: 0px 2px 0px 0px rgba(187, 187, 187, .4);
  	position: absolute;
  	bottom: 3px;
  	left: 2px;
  	transition-duration: .35s;
  	transition-timing-function: cubic-bezier(.54, 1.6, .5, 1);
}

label.switch + div {
	display: flex;
	justify-content: space-between;
	color: #d51f8a;
	font-weight: 500;
	margin-bottom: 20px;
}

.choose input:checked + label::after {
    left: 50%;
}

fieldset {
	padding: 0;
	border: 0;
	margin-right: 0;
	margin-bottom: 20px;
	margin-left: 0;
}

legend {
	padding: 0;
	margin-bottom: 5px;
}

.choose fieldset div {
	border: 1px solid rgb(222, 222, 222);
	border-radius: 5px;
}

.choose fieldset label {
	display: block;
	float: left;
	width: 25%;
	padding-top: 11px;
	padding-bottom: 11px;
	border-radius: 5px;
	text-align: center;
	line-height: .875;
	transition-duration: .35s;
}

.choose fieldset input:checked + label {
	background-color: rgb(213, 31, 138);
	color: #fff;
}

[type='submit'] {
	-webkit-appearance: button;
}

.btn {
	width: 100%;
	color: #fff;
	font-size: inherit;
	border-radius: 3px;
	background-color: rgb(233, 30, 145);
	border: 0;
}

.choose .btn {
	height: 58px;
}

.output a {
	display: block;
	color: inherit;
	text-decoration: none;
	font-size: 18px;
	line-height: 1.3;
	margin-bottom: 20px;
}

.output img {
	width: 100%;
}

.output span {
	display: block;
	color: #6f1c70;
	font-size: 21px;
	line-height: 1.14;
	font-weight: 100;
}

.girls {
	background-color: #ededed;
	padding-bottom: 20px;
}

.girls .fade {
	position: relative;
}

.girls img + span {
	font-size: 24px;
	line-height: 1;
	color: #fff;
	font-weight: 100;
	position: absolute;
	bottom: 20px;
	left: 6.25vw;
	z-index: 1;
}

.owl-nav {
	width: 100%;
	position: absolute;
    top: 50%;
    z-index: 1;
}

.owl-nav button {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #fff;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .2);
	position: absolute;
	font-size: 13px;
	color: #333;
}

.owl-prev {
	transform: translate(-50%, -50%);
}

.owl-next {
	right: 0;
	transform: translate(50%, -50%);
}

.owl-prev svg {
	transform: rotate(180deg);
}

address {
	font-style: normal;
}

#map {
	height: 65.5vw;
	margin-bottom: 30px;
}

.contact {
	background-image: linear-gradient(90deg, rgb(181, 26, 125) 0%, rgb(228, 58, 157) 100%);
	padding-top: 15px;
	margin-bottom: 30px;
	text-align: center;
}

.contact a {
	color: #fff;
	display: inline-block;
}

.contact a[href*='tel:'] {
	font-size: 20px;
	line-height: 1.2;
	text-decoration: none;
	margin-bottom: 5px;
}

.contact > a:nth-of-type(2) {
	margin-bottom: 15px;
}

.contact .social {
	font-size: 50px;
}

.payment {
	text-align: center;
	border-bottom: 1px solid #ededed;
}

.payment p {
	font-size: 18px;
	line-height: 1.3;
}

.payment img {
	width: 50%
}

footer {
	padding-top: 25px;
	padding-bottom: 25px;
	font-size: 18px;
	line-height: 1.3;
	text-align: center;
}

footer a {
	text-decoration: none;
	color: #368fbe;
}